.user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* base */
html,
body {
  min-height: 100%;
}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  font-size: 14px;
  *font-family: "SimSun", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
form {
  margin: 0;
}
p {
  margin: 10px 0;
}
.note,
.caution,
.warning,
.safe {
  padding: .2em .5em .2em .9em;
  background-color: #fefefe;
  border: 1px solid;
  overflow: hidden;
  border-radius: 2px;
}
.note {
  border-color: #36C;
  color: #36C;
}
.caution {
  border-color: #FC3;
  color: #FC3;
}
.warning {
  border-color: #A03;
  color: #A03;
}
.safe {
  border-color: #95be3e;
  color: #95be3e;
}
a,
a:link {
  text-decoration: none;
  color: #39F;
  font-weight: 600;
}
a:visited {
  color: #236bb2;
}
a:active,
a:hover {
  color: #3bf;
}
/*h*/
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eee;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: .5em 0;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #999;
  font-variant: small-caps;
  font-size: .6em;
}
blockquote {
  padding: 5px 5px 5px 15px;
  border-left: 4px solid #ddd;
  margin: 10px 0;
}
mark {
  background: #eee;
  padding: 0 .5em;
  border-radius: 4px;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
/*toolbar*/
.toolbar {
  margin: 0 0 1px;
  line-height: 29px;
  background: #d4e4f2;
  padding: 5px 10px;
}
.toolbar .wall,
.toolbar .nowall {
  height: 25px;
  margin: 3px .5em 0;
  display: inline-block;
  vertical-align: top;
}
.toolbar .wall {
  border-left: solid 1px #adcbe6;
  border-right: solid 1px #fbfdfe;
}
.toolbar .caption {
  color: #4472A2;
}
.toolbar .rock,
.toolbar .caption {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  margin: 0 .5em 0 0;
}
.toolbar .pull-right > .rock {
  margin: 0 0 0 .5em;
}
.toolbar .tree {
  padding: 0 10px;
  margin: 0 -4px 0 0;
  border: solid 1px #bfbfbf;
  line-height: 27px;
  background: #f8f8f8;
  border-radius: 5px 0 0 5px;
  display: inline-block;
  color: #888;
  text-shadow: 0 1px #fff;
}
