//http://less.toobug.net/article/reference.html
/* variable */

@logColor: #fafafa;
@infoColor: #4abffc;
@noteColor: #478af8;
@warnColor: #f9c832;
@errorColor: #ab2918;
@safeColor: #129324;
@linkColor: @noteColor;
@btnHeight: 36px;
@radius: 2px; //log b-log text
.user-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//Less 函数手册 http://less.toobug.net/article/reference.html
.linear-gradient(@from: #fff, @to: #f3f4f5) {
    // Old browsers 
    background: @to;
    background-image: -moz-linear-gradient(top, @from 0%, @to 100%); // FF3.6+ 
    // Chrome,Safari4+ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @from), color-stop(100%, @to)); // Chrome10+,Safari5.1+ 
    background-image: -webkit-linear-gradient(top, @from 0%, @to 100%);
    background-image: -o-linear-gradient(top, @from 0%, @to 100%); // Opera 11.10+ 
    background-image: -ms-linear-gradient(top, @from 0%, @to 100%); // IE10+ 
    background-image: linear-gradient(to bottom, @from 0%, @to 100%); // W3C 
    // IE6-8 
    filter:~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{from}', endColorstr='@{to}',GradientType=0 )";
}
/* base */

html, body {
    min-height: 100%
}
body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
    font-size: 13px;
    *font-family: "SimSun", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
}
body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}
input, select, textarea {
    &[disabled], &[readonly] {
        cursor: not-allowed;
        background-color: #eee;
    }
}
form {
    margin: 0;
}
p {
    margin: 1em 0;
}
hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eee;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: .5em 0;
    text-rendering: optimizelegibility;
    small {
        color: #999;
        font-variant: small-caps;
        font-size: .6em;
    }
}
blockquote {
    padding: 5px 5px 5px 15px;
    border-left: 4px solid #ddd;
    margin: 10px 0;
}
mark {
    background: #eee;
    padding: 0 .5em !important;
    margin: 0 .3em !important;
    *zoom: 1;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted;
}
/*float*/

.xl {
    float: left !important;
    *display: inline;
}
.xr {
    float: right !important;
    *display: inline;
}
.clear {
    *zoom: 1;
    &:before, &:after {
        display: table;
        content: "\20";
    }
    &:after {
        clear: both
    }
}
/*align*/

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
/* scroll */

.scroll {
    overflow: auto;
    _overflow: scroll;
}
.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}
.scroll::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 5px;
}
.scroll::-webkit-scrollbar-button {
    display: none;
}
// .scroll::-webkit-scrollbar-track {}
.linear {
    .linear-gradient() !important;
}
.moon {
    border-radius: 1000px !important;
}
a {
    text-decoration: none;
    color: #39f;
    font-weight: 600;
}
a:hover {
    color: #236bb2;
}
/* 基本样式，不设置layout */

.log, .info, .note, .warn, .error, .safe, .link {
    padding: .3em .5em;
    border-radius: @radius;
    *zoom: 1;
}
.baseFactory(@baseColor, @baseBdColor, @baseFontColor: #fff) {
    background-color: @logColor;
    border: 1px solid #ddd;
    color: #434749;
}
.log {
    .baseFactory(@logColor, #ddd, #434749);
}
.info {
    .baseFactory(@infoColor, @infoColor);
}
.note {
    .baseFactory(@noteColor, @noteColor);
}
.warn {
    .baseFactory(@warnColor, @warnColor, #660F0F);
}
.error {
    .baseFactory(@errorColor, @errorColor);
}
.safe {
    .baseFactory(@safeColor, @safeColor);
}
.link {
    .baseFactory(@linkColor, transparent, @linkColor);
}
/*button*/

.b {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: 0;
    transition: background-color .2s, color .2s;
    *zoom: 1;
    *display: inline;
    .user-select;
    &:active, &.b-active {
        //any but IE6-8
        box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, .5);
        // IE6-8 
        filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#55000000', endColorstr='#00000000',GradientType=0)";
        filter: none\9\0;
    }
}
.b {
    padding: .5em 1em;
    line-height:21px;
    //IE67 button高度宽度lineheight超标问题
    button& {
    }
}
.b-lg {
    font-size: 1.5em;
    padding: 10px 20px !important;
    line-height: 30px;
    button& {
        *height: 52px;
    }
}
.b-log .b-link, .b-log, .b-note, .b-safe, .b-info, .b-error {
    border-radius: @radius;
}
.b-link {
    color: @linkColor;
    border: solid 1px @noteColor;
    background-color: #fff;
    &:hover {
        color: @linkColor;
        background-color: lighten(@linkColor, 30%);
    }
    &:active, &.b-active {
        background-color: @linkColor;
        color: #fff;
    }
}
.b-log {
    color: #434749;
    border: solid 1px #ddd;
    .linear-gradient();
    &:hover {
        .linear-gradient(#f3f4f5, #fff);
    }
    &:active, &.b-active {
        .linear-gradient(#e3e4e5, #fff);
    }
}
.btnFactory(@baseColor, @color: #fff) {
    background-color: @baseColor;
    border: solid 1px @baseColor;
    color: @color;
    &:hover {
        background-color: darken(@baseColor, 5%);
        border-color: darken(@baseColor, 5%);
        color: @color;
    }
    &.b-active, &:active {
        background-color: darken(@baseColor, 10%);
        border-color: darken(@baseColor, 10%);
    }
}
.b-note {
    .btnFactory(@noteColor);
}
.b-info {
    .btnFactory(@infoColor);
}
.b-warn {
    .btnFactory(@warnColor, #660F0F);
}
.b-error {
    .btnFactory(@errorColor);
}
.b-safe {
    .btnFactory(@safeColor);
}
//组
.b-group {
    display: inline-block;
    padding-left: 1px;
    .b {
        float: left;
        margin-left: -1px;
    }
    :not(button) {
        border-radius: 0
    }
    :first-child:not(button) {
        border-radius: @radius 0 0 @radius;
    }
    :last-child:not(button){
        border-radius: 0 @radius @radius 0;
    }
    .b-link {
        box-shadow: none;
        filter: none;
    }
}
/*toolbar*/

.toolbar {
    .clear;
    clear: both;
    margin: 0 0 1px;
    background: #d4e4f2;
    padding: .5em .8em .4em;
    .wall, .nowall {
        height: @btnHeight;
        margin: 0 .5em;
        display: inline-block;
        vertical-align: top;
    }
    .wall {
        border-left: solid 1px darken(#d4e4f2, 10%);
        border-right: solid 1px lighten(#d4e4f2, 10%);
    }
    .caption {
        color: #4472A2;
        float: left;
        line-height: @btnHeight;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .rock {
        display: inline-block;
        margin: 0 .5em 0 0;
    }
    .cap {
        padding: 0 1em;
        margin: 0 -1px 0 0;
        height: @btnHeight+-2;
        line-height: @btnHeight+-2;
        border-radius: 2px 0 0 2px;
        border: solid 1px #bfbfbf;
        border-right: 0;
        display: inline-block;
        background: #f8f8f8;
        color: #888;
        text-shadow: 0 1px #fff;
    }
}
/* input text */

.text, .text-s, .text-xs, .text-m, .text-l, .text-auto {
    border: solid 1px #bfbfbf;
    vertical-align: middle;
    border-radius: @radius;
    padding: .5em 5px;
    height: @btnHeight;
    line-height: 1;
    *height: @btnHeight/2;
    *line-height: @btnHeight/2;
    box-sizing: border-box;
    outline: 0;
    border-top-color: #aaa;
    select& {
        padding: 5.5px 5px;
    }
    &:focus {
        box-shadow: inset 0 5px 5px -5px #ccc;
        border: 1px solid #8FB3E1;
    }
}
.text-xs {
    width: 60px;
    *width: 48px;
    select& {
        width: 60px;
    }
}
.text-s {
    width: 100px;
    *width: 88px;
    select& {
        width: 100px;
    }
}
.text-m {
    width: 180px;
    *width: 168px;
    select& {
        width: 180px;
    }
}
.text-l {
    width: 320px;
    *width: 308px;
    select& {
        width: 320px;
    }
}
.text-auto-wrap {
    *margin-right: 12px;
    *zoom:1 .text-auto {
        display: block;
    }
}
.text-auto {
    width: 100%;
}
