/* ctable */
.ctable,.ctable table{
	background-color: #fff;
	*zoom:1;
	width: 100%;
    // overflow:hidden;
    line-height: 21px;
    table-layout: fixed;
    border-collapse: collapse;
    border:none;
}
.ctable{
    clear: both;
    td, th {
        padding: 8px;
        // *padding:8px 0;
        border:solid 1px #ddd;
        overflow: hidden;
    }
    thead {
        color: #333;
        font-size: 13px;
        th {
            background-color: #f5f5f5;
            // &:extend(.linear all);
            font-weight: normal;
            text-shadow: 1px 1px 0px #FFF;
        	box-shadow: inset 1px 1px 0px #FFF;
        }
    }
    tbody {
        .ctable-edge .cicon {
            visibility: hidden;
            cursor: pointer;
        }
        .v-edit .cicon {
            visibility: visible;
        }
    }
    .line {
        padding: 8px;
        margin: 0 -8px;
        border-top: 1px solid #ddd;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    td .line:first-child,.line-first{
            border-top:0;
            margin-top: -8px;
    }
    td .line:last-child{
            margin-bottom: -8px;
    }
    /*边角*/
    .ctable-edge {
        padding: 0;
        text-align: center;
        .user-select;
        .cicon {
            margin: 0 4px 0 0;
            transition:background-position .3s;
        }
    }
    .v-edit {
        padding: 0;
    }
    .odd {
        background:#fdfdfd;
    }
    .ctable-hover {
    	background: #ffffcb;
        .ctable-edge .cicon {
            visibility: visible;
        }
    }
    .ctable-selected{
    	background-color: #039ACC;
    	color: #fff;
    	td{
    		box-shadow: none;
    		border-color: #039ACC;
    	}
        a{
            color: #fff;
        }
    	.dicon-arrow-right{
    		background-image: url(img/arrow-right-white.png)
    	}
    }
    .ctable-colgroup{
    	padding:3px 8px;
        *padding:3px 0;
    }
    .ctable-caption{
        text-align: left;
        padding: 5px 10px;
        font-size: 16px;
        font-family: 'Microsoft Yahei';
    }
}
.ctable-head-wrap{
    position: relative;
    z-index: 1;
    overflow:hidden;
}
.ctable-body-scroller{
	margin-top: -1px;
	overflow: hidden;
	position: relative;
    .rollbar-content {
        float: left;
    }
}
.ctable-foot{
	height: 30px;
    overflow:hidden;
	line-height: 30px;
	border-top: solid 1px #ddd;
	margin-top: -1px;
	position: relative;
	z-index: 10;
	.simple-pagination{
		float: right;
	}
}

.ctable-status{
	float: left;
	padding: 0 5px;
}

.chandler {
    &:extend(.user-select);
    background:#f5f5f5 url(img/handler.png) repeat-y;
    cursor: move;
    padding: 0;
    font-size: 0;
}
.csortable {
    &:extend(.user-select);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-image: url(img/dropdown_arrow.png);
    cursor: default;
}
.csortable-asc {
    background-image: url(img/dropdown_arrow_up.png);
}
.csortable-desc {
    background-image: url(img/dropdown_arrow_down.png);
}

.ctable-checkall, .ctable-checkbox {
    vertical-align: middle;
}
/* 分页 */

/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
.simple-pagination {
    &:extend(.user-select);
    list-style: none;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
    ul,li{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top;
    }
    li {
        display: inline;
    }
    a, span {
        display: inline-block;
        text-decoration: none;
        color: #333;
        font-size: 13px;
        line-height: 30px;
        min-width: 30px;
        _width: 30px;
        color: #4472A2;
    }
    a:hover {
        background: #efefef;
    }
    .current {
        background: #4472A2;
        color: #fff;
        cursor: default;
    }
    .ellipse {
        cursor: default;
        background: none;
    }
    .active .prev,.active .next{
        background: none;
        color: #ccc
    }
    .next{
        padding:0 20px;
    }
}

.pager {
    &:extend(.user-select);
    overflow: hidden;
    a, span {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: #333;
        font-size: 13px;
        line-height: 30px;
        min-width: 30px;
        _width: 30px;
        color: #4472A2;
    }
    a:hover {
        background: #efefef;
    }
    .current {
        background: #4472A2;
        color: #fff;
        cursor: default;
    }
    a.loading{
        background:url(img/loadingr.gif) center center no-repeat;
        text-indent: -9999px;
    }
    span{
        color: #ccc;
    }
    .prev{
        border-radius: 20px 0 0 20px;
    }
    .next{
        padding:0 1em;
        border-radius: 0 20px 20px 0;
    }
    .prev,.next{
        background-color: #f8f8f8;
    }
}

/*报表*/
.ctable-hide{
    visibility: hidden;
    .ctable-hover &{
        visibility: visible;
    }
}
