/* layout */
/**
 * hack
 * \9 IE10以下 IE678910
 * \0 IE8以上  IE89 10 11 opera(?)
 * \9\0 IE89 10
 * _ IE6
 * * IE67
 */
/* variable */
.user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* base */
html,
body {
  min-height: 100%;
}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  font-size: 13px;
  *font-family: "SimSun", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
form {
  margin: 0;
}
p {
  margin: 1em 0;
}
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eee;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: .5em 0;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #999;
  font-variant: small-caps;
  font-size: .6em;
}
blockquote {
  padding: 5px 5px 5px 15px;
  border-left: 4px solid #ddd;
  margin: 10px 0;
}
mark {
  background: #eee;
  padding: 0 .5em !important;
  margin: 0 .3em !important;
  *zoom: 1;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
/*float*/
.xl {
  float: left !important;
  *display: inline;
}
.xr {
  float: right !important;
  *display: inline;
}
.clear,
.toolbar,
.dialog-foot,
.dialog-con,
.dialog-title {
  *zoom: 1;
}
.clear:after,
.toolbar:after,
.dialog-foot:after,
.dialog-con:after,
.dialog-title:after {
  display: table;
  content: "\20";
  clear: both;
}
.footman {
  height: 2em;
  clear: both;
}
input[type=checkbox] {
  width: 16px;
  height: 16px;
}
input[type=checkbox]:after {
  content: url(img/checkbox.png);
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
input[type=checkbox]:hover:after {
  content: url(img/checkbox-hover.png);
}
input[type=checkbox]:checked:after {
  content: url(img/checkbox-checked.png);
}
input[type=checkbox][disabled] {
  content: url(img/checkbox-disabled.png);
}
input[type=checkbox]:checked[disabled] {
  content: url(img/checkbox-checked-disabled.png);
}
/*align*/
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/* scroll */
.scroll {
  overflow: auto;
  _overflow: scroll;
}
.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  min-height: 2rem;
  background: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-button {
  display: none;
}
.linear {
  background: #f3f4f5 !important;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f3f4f5 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f4f5)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f3f4f5 100%) !important;
  background-image: -o-linear-gradient(top, #ffffff 0%, #f3f4f5 100%) !important;
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f3f4f5 100%) !important;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f3f4f5 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f4f5',GradientType=0 ) !important;
}
.moon {
  border-radius: 1000px !important;
}
a {
  text-decoration: none;
  color: #39f;
  font-weight: 600;
}
a:hover {
  color: #236bb2;
}
.nobg {
  background: none !important;
}
.noscroll,
.noscroll body {
  height: 100%;
  overflow: hidden;
}
.noscroll .sidebar,
.noscroll body .sidebar,
.noscroll .mainbody,
.noscroll body .mainbody {
  height: 100%;
}
/* 基本样式，不设置layout */
.log,
.silver,
.info,
.note,
.warn,
.error,
.safe,
.link {
  padding: .3em .5em;
  border-radius: 2px;
}
.log {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  color: #434749 !important;
}
.silver {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  color: #434749 !important;
  background: #f3f4f5;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f3f4f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f4f5));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f3f4f5 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f3f4f5 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f3f4f5 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f3f4f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f4f5',GradientType=0 );
}
.info {
  background-color: #4abffc;
  border: 1px solid #4abffc;
  color: #ffffff !important;
}
.note {
  background-color: #478af8;
  border: 1px solid #478af8;
  color: #ffffff !important;
}
.warn {
  background-color: #f9c832;
  border: 1px solid #f9c832;
  color: #660f0f !important;
}
.error {
  background-color: #ab2918;
  border: 1px solid #ab2918;
  color: #ffffff !important;
}
.safe {
  background-color: #129324;
  border: 1px solid #129324;
  color: #ffffff !important;
}
.link {
  background-color: transparent;
  border: 1px solid #478af8;
  color: #478af8 !important;
}
/*toolbar*/
.toolbar {
  clear: both;
  margin: 0 0 1px;
  padding: .5em .4em .4em 0;
  height: 36px;
}
.toolbar .wall {
  float: left;
  height: 36px;
  margin: 0 .6em 0 .5em;
  display: inline-block;
  width: 1px;
  background: #d4e4f2;
}
.toolbar .caption,
.toolbar .rock {
  float: left;
  line-height: 36px;
  margin: 0 .3em 0 0;
  vertical-align: middle;
}
.toolbar .caption {
  color: #4472A2;
  padding-left: .5em;
  margin-right: .5em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toolbar .cap {
  float: left;
  padding: 0 1em;
  margin: 0 -1px 0 0;
  height: 34px;
  line-height: 34px;
  border-radius: 2px 0 0 2px;
  border: solid 1px #bfbfbf;
  border-right: 0;
  display: inline-block;
  background: #f8f8f8;
  color: #888;
  text-shadow: 0 1px #fff;
}
/* input text */
.text,
.text-auto {
  border: solid 1px #bfbfbf;
  vertical-align: middle;
  border-radius: 2px;
  padding: .5em 5px;
  height: 36px;
  line-height: 1;
  *height: 20px;
  *line-height: 18px;
  color: #434749;
  box-sizing: border-box;
  outline: 0;
  border-top-color: #aaa;
  transition: width .3s;
}
.text:focus,
.text-auto:focus {
  border: 1px solid #8FB3E1;
}
.text-auto {
  height: 36px;
  overflow: hidden;
  *zoom: 1;
}
.text-auto .text {
  border: 0;
  width: 100%;
  padding: .5em 0;
  margin-top: -1px;
  vertical-align: top;
}
/* notify */
.notify,
.dialog {
  position: absolute;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  padding: 16px 20px;
  -webkit-animation: .3s ease;
  -webkit-animation-name: popin;
  -moz-animation-name: popin;
  -ms-animation-name: popin;
  animation-name: popin;
}
.notify-checkmark,
.notify-close,
.dialog-close {
  margin: -9px -10px -10px 16px;
  cursor: pointer;
  padding: 10px;
}
.notify-checkmark {
  border-radius: 100px;
  transition: background-color 0.3s;
  background: rgba(0, 0, 0, 0.1);
}
.notify-checkmark:hover {
  background: rgba(0, 0, 0, 0.4);
}
.notify-close,
.dialog-close {
  transition: -webkit-transform 0.3s;
  transition: -ms-transform 0.3s;
  transition: transform .3s;
}
.notify-close:hover,
.dialog-close:hover {
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* dialog */
.dialog {
  z-index: 1000;
  padding: 0;
  min-width: 250px;
}
.dialog-foot,
.dialog-con {
  padding: 10px;
  background: #fff;
  color: #434749;
}
.dialog-title {
  padding: 10px;
}
.dialog-foot {
  padding-top: 0;
  text-align: right;
}
.dialog-close {
  position: absolute;
  right: 1px;
  top: 0;
  margin: 0;
}
.row {
  *zoom: 1;
  overflow: hidden;
}
.x,
.x1,
.x2,
.x3,
.x4,
.x5,
.x6,
.x7,
.x8,
.x9,
.x10,
.x11,
.x12 {
  float: left;
  margin: 0 .4%;
  min-height: 1em;
  overflow: hidden;
  *zoom: 1;
  _display: inline;
}
.x {
  margin: 0;
}
.x1 {
  width: 99.2%;
}
.x2 {
  width: 49.2%;
}
.x3 {
  width: 32.53333333%;
}
.x4 {
  width: 24.2%;
}
.x5 {
  width: 19.2%;
}
.x6 {
  width: 15.86666667%;
}
.x7 {
  width: 13.48571429%;
}
.x8 {
  width: 11.7%;
}
.x9 {
  width: 10.31111111%;
}
.x10 {
  width: 9.2%;
}
.x11 {
  width: 8.29090909%;
}
.x12 {
  width: 7.53333333%;
}
/* width */
.w0 {
  width: auto !important;
}
.w1 {
  width: 30px;
}
.w2 {
  width: 60px;
}
.w3 {
  width: 90px;
}
.w4 {
  width: 120px;
}
.w5 {
  width: 150px;
}
.w6 {
  width: 180px;
}
.w7 {
  width: 210px;
}
.w8 {
  width: 240px;
}
.w9 {
  width: 270px;
}
.w10 {
  width: 300px;
}
.w11 {
  width: 330px;
}
.w12 {
  width: 360px;
}
.w13 {
  width: 390px;
}
.w14 {
  width: 420px;
}
/* margin */
.m {
  margin: 10px !important;
}
.m0 {
  margin: 0 !important;
}
.m1 {
  margin: 10px 0 0 !important;
}
.m2 {
  margin: 0 10px 0 0 !important;
}
.m3 {
  margin: 0 0 10px !important;
}
.m4 {
  margin: 0 0 0 10px !important;
}
.m5 {
  margin: 10px 10px 0 0 !important;
}
.m6 {
  margin: 0 10px 10px 0 !important;
}
.m7 {
  margin: 0 0 10px 10px !important;
}
.m8 {
  margin: 10px 0 0 10px !important;
}
.m9 {
  margin: 10px 0 !important;
}
.m10 {
  margin: 0 10px !important;
}
.m11 {
  margin: 0 10px 10px !important;
}
.m12 {
  margin: 10px 0 10px 10px !important;
}
.m13 {
  margin: 10px 10px 0 !important;
}
.m14 {
  margin: 10px 10px 10px 0 !important;
}
/* padding */
.p {
  padding: 10px !important;
}
.p0 {
  padding: 0 !important;
}
.p1 {
  padding: 10px 0 0 !important;
}
.p2 {
  padding: 0 10px 0 0 !important;
}
.p3 {
  padding: 0 0 10px !important;
}
.p4 {
  padding: 0 0 0 10px !important;
}
.p5 {
  padding: 10px 10px 0 0 !important;
}
.p6 {
  padding: 0 10px 10px 0 !important;
}
.p7 {
  padding: 0 0 10px 10px !important;
}
.p8 {
  padding: 10px 0 0 10px !important;
}
.p9 {
  padding: 10px 0 !important;
}
.p10 {
  padding: 0 10px !important;
}
.p11 {
  padding: 0 10px 10px !important;
}
.p12 {
  padding: 10px 0 10px 10px !important;
}
.p13 {
  padding: 10px 10px 0 !important;
}
.p14 {
  padding: 10px 10px 10px 0 !important;
}
