/* ctable */
.ctable table,
table.ctable {
  table-layout: fixed;
  border-collapse: collapse;
  border: none;
  width: 100%;
}
.ctable {
  line-height: 21px;
  clear: both;
  overflow: hidden;
  background-color: #fff;
}
.ctable td,
.ctable th {
  padding: 8px;
  border: solid 1px #ddd;
  overflow: hidden;
}
.ctable th {
  color: #333;
  font-size: 13px;
  background-color: #f5f5f5;
  font-weight: normal;
  text-shadow: 1px 1px 0px #FFF;
  box-shadow: inset 1px 1px 0px #FFF;
}
.ctable .line {
  padding: 8px;
  margin: -9px -8px 9px;
  border-top: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ctable .line-last {
  margin-bottom: -8px;
}
.ctable .odd {
  background: #fdfdfd;
}
.ctable .ctable-colgroup {
  padding: 3px 8px;
}
.ctable .ctable-hover {
  background: #ffffcb;
}
.ctable .ctable-hover .vhide {
  visibility: visible;
}
.ctable .chandler {
  padding: 0;
  font-size: 0;
  width: 10px;
}
.ctable .ctable-selected {
  background-color: #039ACC;
  color: #fff;
}
.ctable .ctable-selected td {
  box-shadow: none;
  border-color: #039ACC;
}
.ctable .ctable-selected a {
  color: #fff;
}
.ctable-head,
.ctable-body {
  border: solid 1px #ddd;
  position: relative;
  overflow: hidden;
}
.ctable-head th,
.ctable-body th,
.ctable-head td,
.ctable-body td {
  border-width: 0 1px 1px 0;
}
.ctable-head table,
.ctable-body table {
  margin-bottom: -1px;
}
.ctable-head {
  z-index: 1;
  margin-bottom: -1px;
  background-color: #f5f5f5;
}
.ctable-head th:last-child {
  border-right-width: 0;
}
.ctable-head-inner {
  overflow: hidden;
}
.ctable-body {
  background-size: 50px 76px;
  background-image: linear-gradient(transparent 50%, #fcfcfc 50%, #fcfcfc);
}
.ctable-body .chandler {
  background: #f5f5f5 url(img/handler.png) repeat-y;
  cursor: move;
}
.ctable-body .ui-sortable-helper td {
  border-width: 1px !important;
}
.ctable-body td:last-child {
  border-right-width: 0;
}
.ctable-foot {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  position: relative;
  z-index: 10;
}
.ctable-foot .pager {
  float: right;
}
.ctable-status {
  float: left;
  padding: 0 5px;
}
.ctable-checkall,
.ctable-checkbox {
  vertical-align: bottom;
}
.ctable-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.ctable-fullwidth thead th:last-child,
.ctable-fullwidth tbody td:last-child {
  border-right: solid 1px #ddd;
}
/* .ctable-frozen {
    .ctable-body{
        overflow: hidden !important;
    }
    .ctable-foot .pager {
        display: none;
    }
    & thead th:last-child,& tbody td:last-child{
        border-right-width:0;
    }
} */
