@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?x1bnp2');
	src:url('fonts/icomoon.eot?x1bnp2#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?x1bnp2') format('truetype'),
		url('fonts/icomoon.woff?x1bnp2') format('woff'),
		url('fonts/icomoon.svg?x1bnp2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.f {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.f-cut:before {
	content: "\e617";
}
.f-export:before {
	content: "\e609";
}
.f-gear:before {
	content: "\e60a";
}
.f-history:before {
	content: "\e60b";
}
.f-see:before {
	content: "\e60d";
}
.f-unsee:before {
	content: "\e60e";
}
.f-chart:before {
	content: "\e60f";
}
.f-chat:before {
	content: "\e610";
}
.f-msg:before {
	content: "\e611";
}
.f-block:before {
	content: "\e612";
}
.f-tag:before {
	content: "\e614";
}
.f-more:before {
	content: "\e615";
}
.f-bell:before {
	content: "\e616";
}
.f-read:before {
	content: "\e606";
}
.f-menus:before {
	content: "\e906";
}
.f-add:before {
	content: "\e63a";
}
.f-minus:before {
	content: "\e63c";
}
.f-close:before {
	content: "\e905";
}
.f-multiply:before {
	content: "\e60c";
}
.f-done:before {
	content: "\e62e";
}
.f-left:before {
	content: "\e903";
}
.f-right:before {
	content: "\e904";
}
.f-mic:before {
	content: "\e902";
}
.f-water:before {
	content: "\e900";
}
.f-copy:before {
	content: "\e091";
}
.f-location:before {
	content: "\e608";
}
.f-filter:before {
	content: "\e443";
}
.f-calendar:before {
	content: "\e603";
}
.f-home:before {
	content: "\e002";
}
.f-browse:before {
	content: "\e0a2";
}
.f-user:before {
	content: "\e199";
}
.f-star-empty:before {
	content: "\e2ff";
}
.f-star:before {
	content: "\e301";
}
.f-pencil:before {
	content: "\e600";
}
.f-warn:before {
	content: "\e601";
}
.f-share:before {
	content: "\e48c";
}
.f-download:before {
	content: "\e909";
}
.f-upload:before {
	content: "\e90a";
}
.f-grid:before {
	content: "\e90b";
}
.f-list:before {
	content: "\e90c";
}
.f-txt:before {
	content: "\e086";
}
.f-tool:before {
	content: "\e991";
}
.f-search:before {
	content: "\e607";
}
.f-alert:before {
	content: "\e950";
}
.f-org:before {
	content: "\e9bc";
}
.f-shutdown:before {
	content: "\e9b6";
}
.f-bin:before {
	content: "\f014";
}
.f-info:before {
	content: "\e62b";
}
.f-question:before {
	content: "\e640";
}
.f-buy:before {
	content: "\e639";
}
.f-loop:before {
	content: "\ea2e";
}
.f-turnr:before {
	content: "\e613";
}
.f-print:before {
	content: "\e954";
}
.f-undo:before {
	content: "\e967";
}
.f-lock:before {
	content: "\f06a";
}
.f-unlock:before {
	content: "\e990";
}
.f-attachment:before {
	content: "\e9cd";
}
.f-link:before {
	content: "\f05c";
}
.f-arb:before {
	content: "\f0d7";
}
.f-art:before {
	content: "\f0d8";
}
.f-save:before {
	content: "\f0c7";
}
.f-down:before {
	content: "\e604";
}
.f-up:before {
	content: "\e605";
}
.f-ppt:before {
	content: "\f1c4";
}
.f-doc:before {
	content: "\f1c2";
}
.f-xls:before {
	content: "\f1c3";
}
.f-fly:before {
	content: "\f1d9";
}

